

<html>
    <head>
    </head>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Yellowtail');
            body{
                background-color: ivory;
            }
            /* #farm_egg{
          
            } */
            span{
                font-size: 100%;
            }
            .flex_farm{
                display: flex;
                flex-direction: row;
                margin-left: 28%;
            }
            .flex_farm button{
                width: 12%;
                height: 6%;
                background-color: rgba(152,251,152,.3);
                border-radius: 9px 9px 9px 9px;
                margin: .5% .5% .5% .5%;
           
                color: rosybrown;
                
            }
            .flex_health{
                display: flex;
                flex-direction: column;
            }
            .flex_health button{
                width: 12%;
                height: 6%;
                background-color: rgba(152,251,152,.3);
                border-radius: 9px 9px 9px 9px;
                margin-top: .5%;
                margin-bottom: .5%;
                color: rosybrown;
                
            }
            h1{
                font-family: 'Yellowtail', cursive;
                margin-left: 38%;
                font-size: 300%;
                z-index: 2;
            }
            #farm_img{
                margin-left: 32%;
                z-index: 1;
            }
    
        </style>
            <header>

                <img id="farm_img" src="https://ya-webdesign.com/images/drawing-farmer-plough-5.png" width="30%" height="13%">
                <h1>Django Farm</h1>
            </header>

        <main>



        </main> 

            <div>
                <span id="energy_display"></span>
            </div>

            <div>
                <span id="day_light_display"></span>
            </div>

            <div>
                <span id="filth_display"></span>
            </div>

            
            <div>
                <span id="wallet_display"></span>
            </div>

            <div>
                <span id="milk_display"></span>
            </div>

            <div>
                <span id="eggs_display"></span>
            </div>
        
            <div>
                <span id="bacon_display"></span>
            </div>
        

            <div>
                <span id="pig_num"></span>
            </div>

            <div>
                <span id="coop_num"></span>
            </div>

            <div>
                <span id="cow_num"></span>
            </div>

            <div class="flex_health">
                    <button id="rest">Rest</button>
                    <button id="take_bathe">Bathe</button>
            </div>


            <div class="flex_farm">
                <button id="farm_egg">Farm Chicken</button>
                <button id="farm_milk">Farm Chicken</button>
                <button id="farm_bacon">Farm Chicken</button>
                <button id="sell_goods">Sell</button>
            </div>
    




             

            <script>

// {% if game_state %}

// let True = true
// let False = false
// let stair_collision = {{ game_state.stair_collision }}
// let cabnet_collision = {{ game_state.cabnet_collision }}
// let rail2_collision = {{ game_state.rail2_collision }}
// let duskball_collision = {{ game_state.duskball_collision }}
// let painting_collision = {{ game_state.painting_collision }}
// let haunted_collision = {{ game_state.haunted_collision }}
// let lucario_collision = {{ game_state.lucario_collision }}

// let duskball_is = {{ game_state.duskball_is }}
// let haunted_painting_is = {{ game_state.haunted_painting_is }}
// let lucario_is = {{ game_state.lucario_is }}
// let computer_on = {{ game_state.computer_on }}
// let poke_ball_is = {{ game_state.poke_ball_is }}
// let left_corner_is = {{ game_state.left_corner_is }}
// let right_corner_is = {{ game_state.right_corner_is }}
// let bookshelf_is = {{ game_state.bookshelf_is }}
// let bear_is = {{ game_state.bear_is }} 
// let move_ball_down = {{ game_state.move_ball_down }}
// let ball_gone = {{ game_state.ball_gone }}
// let scroll_is = {{ game_state.scroll_is }}
// {% else %}

// let stair_collision = 0
// let cabnet_collision = 0
// let rail2_collision = 0
// let duskball_collision = 0
// let painting_collision = 0
// let haunted_collision = 0

// let lucario_collision = false
// let duskball_is = false
// let haunted_painting_is = false
// let lucario_is = false
// let computer_on = false
// let poke_ball_is = false
// let left_corner_is = false
// let right_corner_is = false
// let bookshelf_is = false
// let bear_is = false 
// let move_ball_down = false
// let ball_gone = false
// let scroll_is = false
// {% endif %}

// function save_game() {        
//         axios.post("{% url 'boat:save_state' %}",
//                 {
//                     duskball_is: duskball_is,
//                     haunted_painting_is: haunted_painting_is,
//                     lucario_is: lucario_is,
//                     computer_on: computer_on,
//                     poke_ball_is: poke_ball_is,
//                     left_corner_is: left_corner_is,
//                     right_corner_is: right_corner_is,
//                     bookshelf_is: bookshelf_is,
//                     bear_is: bear_is, 
//                     move_ball_down: move_ball_down,
//                     ball_gone: ball_gone,
//                     scroll_is: scroll_is,
//                     stair_collision: stair_collision,
//                     cabnet_collision: cabnet_collision,
//                     rail2_collision: rail2_collision,   
//                     duskball_collision: rail2_collision,
//                     painting_collision: rail2_collision,
//                     haunted_collision: rail2_collision,
//                     lucario_collision: lucario_collision,
//                 }, {
//                     headers: {
//                         "X-CSRFToken": "{{ csrf_token }}"
//                     }
//                 }
//             ).then(function(response) {
//             })
//     }


                // different variables for the farm
                let energy = 5
                let filth = 0
                let day_light = 10
                let milk = 0
                let milk_val = 5
                let  eggs = 0
                let eggs_val = 12
                let bacon = 0
                let bacon_val = 24
                let money = 0
                let wallet = 0
                let cow_price = 500
                let cow_count = 1
                let pig_price = 750
                let pig_count = 1
                let coop_price = 1000
                let coop_count = 1
                

                let energy_display = document.querySelector('#energy_display')
                let day_light_display = document.querySelector('#day_light_display')
                let filth_display = document.querySelector('#filth_display')

                let wallet_display = document.querySelector('#wallet_display')
                let milk_display = document.querySelector('#milk_display')
                let eggs_display = document.querySelector('#eggs_display')
                let bacon_display = document.querySelector('#bacon_display')

                let pig_num = document.querySelector('#pig_num')
                let coop_num = document.querySelector('#coop_num')
                let cow_num = document.querySelector('#cow_num')


                //fucntions

                update_display = function(){
                    energy_display.innerHTML = 'energy:  ' + energy
                    day_light_display.innerHTML = 'day light:  ' + day_light
                    filth_display.innerHTML = 'filth:  ' + filth

                    wallet_display.innerHTML = 'money:  ' + wallet
                    milk_display.innerHTML = 'gallons of milk:  ' + milk
                    eggs_display.innerHTML = 'eggs:  ' + eggs
                    bacon_display.innerHTML = 'lb\'s bacon:  ' + bacon

                    pig_num.innerHTML = pig_count + ':  pigs'
                    coop_num.innerHTML = coop_count + ':  chicken coops'
                    cow_num.innerHTML = cow_count + ':  cows'
                    
                }

                sell_goods.onclick = function(){
                    sell()
                    update_display()
                }

                take_bathe.onclick = function(){
                    bathe()
                    update_display()
                }

                rest.onclick = function(){
                    sleep()
                    update_display()
                }

                farm_egg.onclick = function(){
                    farm()
                    farm_chicken()
                    update_display()
                }

                farm_milk.onclick = function(){
                    farm()
                    milk_cow()
                    update_display()
                }

                farm_bacon.onclick = function(){
                    farm()
                    make_bacon()
                    update_display()
                }


                farm = function(){
                    day_light -= 2
                    filth += 1
                    energy -= 1
                    if (energy <= 0 || day_light <= 0){
                        alert('You ran out of energy and died')
                    } else if (filth > 5){
                        alert('you got so dirty all the animals left you')
                    }
                }

                bathe = function(){
                    day_light -= 1
                    filth = 0
                    if (energy <= 0 || day_light <= 0){
                        alert('you ran out of energy and died')
                    }
                }

                sleep = function(){
                    day_light = 10
                    energy = 5
                }

                milk_cow = function(){
                    milk += milk_val
                }
                
                farm_chicken = function(){
                    eggs += eggs_val
                }
                
                make_bacon = function(){
                    bacon += bacon_val
                }

                sell = function(){
                    if (money == 0){
                        milk *= 3
                        bacon *= 4
                        money += milk + eggs + bacon
                        wallet += money
                    } else if (money != 0){
                        money = 0
                        milk = 0
                        bacon = 0
                        eggs = 0
                    }
                }

                new_cow = function(){
                    if(wallet < cow_price){
                        alert('not enough money')
                    } else if(wallet >= cow_price){
                        update_display()
                        milk_val += 5
                        cow_count += 1
                        wallet -= cow_price
                        cow_price *= 2
                    }
                    if(cow_count === 11){
                        update_display()
                        wallet += 400000
                    }
                }
                chicken_coop_upgrade = function(){
                    if (walet < coop_price){
                        alert('not enough money')
                    } else if(wallet >= coop_price){
                        update_display()
                        eggs_val += 120
                        coop_count += 1
                        wallet -= coop_price
                        coop_price *= 2
                        if(coop_count === 11){
                            update_display()
                            wallet += 100000
                        }
                    }
                }
                new_pig = function(){
                    if (wallet < pig_price){
                        alert('not enough money')
                    } else if (wallet >= pig_price){
                        update_display()
                        bacon_val += 24
                        pig_count += 1
                        wallet -= pig_price
                        pig_price *= 2
                    } if (pig_count === 11){
                        update_display()
                        wallet += 500000
                    }
                }                       
            </script>

        </body>
</html>
